rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Hitzkopf Lobbies
    match /lobbies/{lobbyId} {
      allow read, write: if request.auth != null;
    }
    
    // Music Voter Lobbies
    match /musicVoterLobbies/{lobbyId} {
      allow read, write: if request.auth != null;
    }
  }
}